@charset "UTF-8";

:root {
  --brand-color: #EF5F4C;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secundary: #6c6c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  background-color: var(--skeleton-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 250px;
  padding: 24px 32px;
}

div.menu {
  width: 325px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.menu>a {
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color-secundary);
}

div.menu>a.explorar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
}

div.menu>a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.perfil-header {
  width: 40px;
  height: 40px;
  margin: 20px 16px;
}

section.bio {
  height: 240px;
  display: flex;
  background-color: var(--skeleton-color);
  justify-content: space-around;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

div.perfil {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
}

.imagem-perfil {
  width: 176px;
  height: 176px;
  margin: 32px;
}

.perfil-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.perfil-bio>h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 125%;
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

div.perfil-bio>p {
  width: 384px;
  height: 120px;
  text-align: left;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-color-secundary);
}

div.dados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  height: 104px;
  margin: 32px 68px;
}

.cidade>i,
.paises>i,
.fotos>i {
  color: var(--brand-color);
  padding: 12px;
}

div.cidade {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

div.cidade>p {
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 170%;
}

div.paises {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

div.paises>p {
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 170%;
}

div.fotos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

div.fotos>p {
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 170%;
}

section.imagens {
  display: grid;
  grid-template-columns: 286px 286px 286px 286px;
  grid-template-rows: 286px 286px 286px;
  gap: 24px;
  margin: 24px 32px;
  margin: 24px 32px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

section.imagens>img {
  width: 286px;
  height: 286px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

footer {
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer>.copy {
  text-decoration: none;
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 150%;
  margin-left: 32px;
}

footer>div.links {
  width: 297px;
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
}

footer>div.links>a {
  text-decoration: none;
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 150%;
}

footer>div.links>a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}