@charset "UTF-8";

:root {
  --brand-color: #EF5F4C;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secundary: #6c6c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1280px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}