@charset "UTF-8";

:root {
  --brand-color: #EF5F4C;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secundary: #6c6c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  background-color: var(--skeleton-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 24px 32px;
}

div.menu {
  width: 325px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.menu>a {
  text-decoration: none;
  color: var(--text-color-secundary);
}

div.menu>a:hover {
  color: var(--brand-color);
}

.perfil-header {
  width: 40px;
  height: 40px;
  margin: 20px 16px;
}

section.bio {
  height: 240px;
  display: flex;
  background-color: var(--skeleton-color);
  justify-content: flex-start;
}

div.perfil {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
}

.imagem-perfil {
  width: 176px;
  height: 176px;
  margin: 32px;
}

.perfil-bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.perfil-bio>h1 {
  font-size: 32pt;
  font-weight: bold;
  line-height: 125%;
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

div.perfil-bio>p {
  width: 384px;
  text-align: justify;
  color: var(--text-color-secundary);
}

div.dados {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  height: 104px;
  margin: 32px 68px;
}

.cidade>i,
.paises>i,
.fotos>i {
  color: var(--brand-color);
  padding: 12px;
}

div.cidade {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

div.cidade>p {
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 170%;
}

div.paises {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

div.paises>p {
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 170%;
}

div.fotos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

div.fotos>p {
  color: var(--text-color-secundary);
  font-size: 14px;
  line-height: 170%;
}