@charset "UTF-8";

:root {
  --brand-color: #EF5F4C;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secundary: #6c6c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  background-color: var(--skeleton-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 24px 32px;
}

div.menu {
  width: 325px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.menu>a {
  text-decoration: none;
  color: var(--text-color-secundary);
}

div.menu>a:hover{
  color: var(--brand-color);
}

.perfil-header {
  width: 40px;
  height: 40px;
  margin: 20px 16px;
}

.imagem-perfil {
  width: 176px;
  height: 176px;
}

section.bio{
  height: 240px;
  display: flex;
}